body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px; /*  NEW ME */
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin: 10px auto;  
}

.content {
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin-top: 10px;
  padding: 10px 0px;
}

button {
  background: white;
  display: block;
  border: 1px solid #eee;
  /* width: 40%; */
  margin: auto;
  padding: 10px 30px;
} /* margin: 0% 32% 0% 32%; */