body {
    max-width: 600px;
    max-height: 1200px;
    margin: 2% auto;
  }

  .form {
    width: 800px;
    display: flex;
    background: rgb(226, 226, 27);
    border: 2px solid black;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 16px;
  }
  .name {
    flex-grow: 1;
    flex-basis: 160px;
  }
  .email {
    flex-grow: 3;
    flex-basis: 200px;
  }
  .button {
    flex-grow: 1;
    flex-basis: 80px;
  }
  .form input {
    color:white
    border: white;
    min-width: 242px;
  }