@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex; /* New adding */
  flex-direction: column;  /* New adding */
}

img {
  width: 600px;
  
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;  /* New adding */
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.left-links,.right-links{
    display: flex;
}
.header li,a{
    padding: 5%;
    text-decoration: none;
}

.header ul{
    list-style-type: none;
    
}

.content{
    /* display: flex; */
    /* align-items: center; */
    /* align-content: center; */
    /* align:center; */
}




.footer{
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}


.footer li,a{
    padding-left: 0;
    padding-right: 2%;
    margin-left: 0;
    /* text-decoration: none; */
}
.footer ul{
    list-style-type: none;
    margin-left: 0;
}